h1 {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
}
.second {
  display: inline-block;
}

body {
  overflow: hidden;
}

.space {
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    inline-size: 10px;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
  }

  .circle {
    inline-size: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: dodgerblue;
    position: absolute;
  }

  & div {
    position: absolute;
  }
}

nav {
  transition: transform 1s;
}

.is-active {
  transform: translateY(100px) rotate(360deg);
}

.ground {
  overflow: hidden;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
  width: 400px;
  height: 300px;
  background-color: green;
  border: 5px solid #000;
  cursor: none;
}

.ball {
  display: inline-block;
  transition: all 1s;
  pointer-events: none;
}

.emotion {
  position: absolute;
  pointer-events: none;
  font-size: 2rem;
}
